<div class="content-wrap">
    <div class="content">
        
        <toolbar class="toolbar-fix" [searchData]="searchData" [btnList]="btnList" (Ondata)="cancelDataEvent($event)" [btnSwitch]="btnSwitch" (Disabled)="FormDisabled($event)" (display)="DialogDisplay($event)" [formValue]="form?form.value:null" [form]="form" [iSave]="iSave" [URL]="URL"></toolbar>
        <div class="row">
            <form #searchForm="ngForm">
                <div class="ui-g container-wrap">
                    <div class="ui-g-3">
                        <label class="flex-box">
                            <span class="text-exp">公司编码</span>
                            <input type="text" name="GSID" [(ngModel)]="searchData.data.pdata.GSID" />
                        </label>
                    </div>
                    <div class="ui-g-3">
                        <label class="flex-box">
                            <span class="text-exp">公司名称</span>
                            <input type="text" name="GSMC" [(ngModel)]="searchData.data.pdata.GSMC" />
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <p-panel header="编辑公司信息" [toggleable]="true">
                <form [formGroup]="form" *ngIf="lock">
                    <ng-container *ngFor="let FormData of FormDatas">
                        <form-base [field]="FormData" [form]="form" [readyOnly]="readyOnly"></form-base>
                    </ng-container>
                    {{form.value | json}}
                </form>
            </p-panel>
        </div>
        <div class="row pos-rlt">
            <p-panel header="查询结果" [toggleable]="true">
                <ng-container *ngIf="lock2">
                    <search-grid [gridDataConf]="gridDataConf" [gridSearchData]="gridSearchData" (selectedData)="selectedGirdEvent($event)" [selected]="selected"></search-grid>
                </ng-container>
                
            </p-panel>
            <div class="mask" *ngIf="expression"></div>
        </div>
    </div>
</div>
<ng-container *ngIf="lock2">
<my-dialog [(display)]="display" [gridDataConf]="gridDataConf" [gridSearchData]="gridSearchData"></my-dialog>
</ng-container>
<!--<p-dialog header="Title" [(visible)]="display" width="300" responsive="false">
    Content
</p-dialog>-->
{{display}}
