html,
body,
ul,
li,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
tr,
td,
input {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    color: #393939;
    background-color: #fff;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

i {
    font-style: normal;
}

form {
    display: block;
}

a {
    text-decoration: none;
    color: #3c3c3c;
}

fieldset {
    width: 100%;
    border: 0;
    padding: 0;
}

fieldset input{
    width: 100%;
}

/*-----ng-form------------*/

.ng-valid[required],
.ng-valid.required {
    border-left: 3px solid #42A948!important;
    /* green */
}

.ng-invalid:not(div):not(p-calendar):not(p-checkbox):not(form):not(fieldset) {
    border-left: 3px solid #a94442!important;
}

input[required]:invalid, input:focus:invalid, textarea[required]:invalid, textarea:focus:invalid{box-shadow: none;}



/*------ui-g reset------------*/

.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
    padding: 0!important;
}

.ui-dropdown {
    display: block!important;
    width: auto!important;
}

.ui-dropdown-label {
    text-indent: 6px;
    padding: 3px!important;
}

.ui-dropdown.ui-widget .ui-dropdown-trigger .fa,
.ui-multiselect.ui-widget .ui-multiselect-trigger .fa {
    margin-top: 4px!important;
}

.ui-panel-content.ui-widget-content {
    overflow: hidden;
}

.ui-accordion .ui-accordion-content {
    overflow: inherit!important;
}

.ui-accordion .ui-accordion-content {
    padding: 0!important;
}

.ui-datatable-tablewrapper table {
    height: 200px;
}

.ui-datatable-scrollable-body table {
    height: 200px;
}

.ui-panel .ui-panel-content {
    padding: 0.5em !important;
}

.ui-datepicker {
    width: auto!important;
}

tr.ui-state-default{
    height: 24px;
}
.ui-growl{
    top: initial!important;
    bottom: 30px;
}

/*-------content------- */

.content-wrap {
    width: 100%;
}

.content {
    padding-left: 25px;
    padding-right: 120px;
    padding-top: 40px;
}

.toolbar-fix{
    width: 100%;
    position: fixed;
    top: 140px;
    z-index: 88;
    background: #fff;
}

button {
    width: 78px;
}

.input-group {
    height: 30px;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    height: 24px;
    padding: 2px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-indent: 4px;
    flex: 1;
    min-width: 50px;
}
input[type="text"].readyOnly{
    background: #ffc;
}
.row {
    margin-bottom: 8px;
}

.text-exp {
    float: left;
    display: inline-table;
    text-align: right;
    width: 96px;
    padding: 3px 5px 3px 0;
}

label.flex-box,
div.flex-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
}

.out-com {
    flex: 1;
}

.mb8 {
    margin-bottom: 8px;
}

label.flex-box .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

label.flex-box .search-btn:hover {
    cursor: pointer;
}
.pos-rlt{
    position: relative;
}
.mask{
    width: 100%;
    height:  100%;
    position: absolute;
    top: 30px;
    left: 0;
    z-index : 99;
}