/*
* @Author: anchen
* @Date:   2016-11-14 15:08:47
* @Last Modified by:   anchen
* @Last Modified time: 2016-11-22 10:42:00
*/
.nav > li{
    position: relative;
    border-top: 1px solid #fcfcfc;  
}
.nav > li:last-of-type{
    border-bottom: 1px solid #fcfcfc;
}
.nav > li > a{
    display: block;
    position: relative;
}
.nav > li > a:hover::before{
    display: block;
    content: '';
    position: absolute;
    top: -1px;
    bottom: 0;
    left:0;
    width: 3px;
    overflow: hidden;
    background: #3382af;
}
.nav > li > a{
    background-color: #f9f9f9;
    padding: 10px 20px;
}
.nav > li > a.home.active{
    background-color: #fff;
    color: #2b7dbc;
}
.nav > li > a.active{
    color: #2b7dbc;
}
li.hidden-folded{
    padding: 0;
}
li.hidden-folded a{
    padding: 10px 30px;
}
a#sec {
    display: block;
    line-height: 40px;
}
div.font-bold {
    line-height: 40px;
}
.nav > li > a:hover,a#sec:hover,div.font-bold:hover,li.hidden-folded a.active,.nav-list > .menu-link  a.active,.sec a.active,.nav-list > .menu-link:hover{
     background: #fff;
     cursor: pointer;
     color: #1963aa;
}
li.sec > a#sec,li.sec > div.font-bold{
    height: 40px;
    padding-left: 60px;
    position: relative;
}
li.sec > #sec > span,li.sec > div.font-bold > span{
    position: absolute;
    top: 13px;
    left: 40px;
}
i.fa{
    padding: 0 10px;
}
.dis{
    display: none;
}
.show .dis{
    display: block;
}
.nav-list > .menu-link{
    height: 40px;
    position: relative;
    line-height: 40px; 
}
.nav-list > .menu-link:hover{
    cursor: pointer;
}
.nav-list > .menu-link > a{
    display: block;
    padding-left: 75px;
    position: relative;
}
.nav-list > .menu-link > a > span.fa{
    position: absolute;
    left: 55px;
    top: 13px;
}
.navbar{
    position: fixed;
    left: 200px;
    right:0;
    top: 50px;
    min-height: 40px;
    z-index: 999;
}
.navbar .navbar-list li{
    width: 100px;
}
.navbar .navbar-list li a:hover{
    background-color: #eee!important;
}
.navbar .navbar-list li a:focus{
    background-color: #eee!important;
}
.navbar .navbar-list li a.active{
    background-color: #eee!important;
}
.navbar .navbar-list li a i{
    position: absolute;
    right: -5px;
    top: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0;
}
.navbar .navbar-list li a i:hover{
    color: #f00;
}
.top-bar{
    position: fixed;
    left: 200px;
    right: 0;
    top: 70px;
}
.chrome-tabs-shell{
    height: 25px;
    padding-left: 25px;
}
.chrome-tabs-shell .chrome-tabs li.chrome-tab-current{
    z-index: 99!important;
}
.pos-exp{
    width: 100%;
    background-color: #f1f1f1;
    position: relative;
    height: 36px;
    padding-left: 25px;
}
.pos-exp > ul {
    padding: 8px 0;
    float: left;
}
.pos-exp > ul > li,.pos-exp > .process > ul > li{
    position: relative;
    float: left;
}
.pos-exp > ul > li::after,.process > ul::after{
    clear: both;
    content: '';
}
.pos-exp > .process{
    float: right;
    position: relative;
    padding: 5px 0;
    margin-right: 100px;
}
.pos-exp > .process > ul > li{
    padding: 0 20px 2px 20px;
    line-height: 24px;
    color: #fff;
}
.pos-exp > .process > ul > .before{
    background-color: #4b4b4b;
    padding-left: 15px;
}
.process > ul > li.before:after,.process > ul > li.center:after,.process > ul > li.center:before,.process > ul > li.after:before {
    position: absolute;
    top: 0; 
    display: inline-block !important;
    content: '';
}
.process > ul > li.before:after,.process > ul > li.center:after{
    right: 0;
    border-top: 13px solid #f1f1f1;
    border-bottom-color: #f1f1f1!important;
}
.process > ul > li.before:after{    
    border-bottom: 13px solid #4b4b4b;
    border-left: 13px solid #4b4b4b;
}
.process > ul > li.center{
    background-color: #47a447;
}
.process > ul > li.center:after {
    border-bottom: 13px solid #47a447;
    border-left: 13px solid #47a447;
}
.process > ul > li.center:before {
    left: 0;
    border-top: 13px solid #47a447;
    border-bottom: 13px solid #f1f1f1;
    border-left: 13px solid #f1f1f1;
    border-bottom-color: #47a447;
}
.process > ul > li.after{
    background-color: #d2322d;
    padding-right: 15px;
}
.process > ul > li.after:before {
    left: 0;
    border-top: 13px solid #d2322d;
    border-bottom: 13px solid #f1f1f1;
    border-left: 13px solid #f1f1f1;
    border-bottom-color: #d2322d;
}
