<p-dataTable  [editable]="true"  [value]="gridSearchData" [rows]="gridDataConf? gridDataConf.rows : 10" [paginator]="gridDataConf? gridDataConf.paginator : true" [pageLinks]="gridDataConf? gridDataConf.pageLinks: 3" [rowsPerPageOptions]="[5,10,20]"
    [emptyMessage]="''" selectionMode="{{gridDataConf.selectionMode? gridDataConf.selectionMode : 'single'}}" [(selection)]="selected" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
    <ng-container *ngFor="let column of gridDataConf.column">
        <p-column field="{{column.field}}" header="{{column.header}}"  [editable]="true"></p-column>
    </ng-container>   
</p-dataTable>