<div class="content-wrap">
    <div class="content">
        <toolbar style="width:100%"></toolbar>
        <div class="row" *ngIf="lock">
            <form [formGroup]="form">
                <ng-container *ngFor="let FormData of FormDatas">
                    <form-base [field]="FormData" [form]="form" [readyOnly]="disabled"></form-base>
                </ng-container>
                <div class="ui-g-4 mb8">
                    <label class="flex-box">
                        <span class="text-exp">test</span>
                        <input type="text" formControlName="ABC" />
                    </label>
                </div>
            </form>
            <div>{{form.value | json}}</div>
        </div>
        <button (click)="test()">点击</button>
    </div>
</div>