<div [formGroup]="form" [ngClass]="field.hidden? '': field.ElemClass" class="mb8">
    <div *ngIf="field.controlType == 'text'" [hidden]="field.hidden? field.hidden: false">
        <label class="flex-box">
            <span class="text-exp" >{{field.controlTitle}}</span>
            <input [type]="field.controlType" [required]="field.required" [formControlName]="field.controlName" [readonly]="disabled || !field.disabled" [ngClass]="{'readyOnly':disabled || !field.disabled}"/>
            <span class="fa fa-search search-btn" *ngIf="field.searchBtn"></span>
        </label>
    </div>
    <div *ngIf="field.controlType == 'select'">
        <div class="flex-box">
            <span class="text-exp">{{field.controlTitle}}</span>
            <div class="out-com">
                <p-dropdown [options]="field.Selectoptions" [formControlName]="field.controlName"></p-dropdown>
            </div>
        </div>
    </div>
    <div *ngIf="field.controlType == 'checkbox'">
        <div class="flex-box">
            <span class="text-exp">{{field.controlTitle}}</span>
            <p-checkbox binary="false" style="margin-top:2px" [formControlName]="field.controlName" [disabled]="disabled"></p-checkbox>
        </div>
    </div>
    <div *ngIf="field.controlType == 'date'">
        <div class="flex-box">
            <span class="text-exp">{{field.controlTitle}}</span>
            <p-calendar [showIcon]="true" [formControlName]="field.controlName" readonlyInput="null"></p-calendar>
        </div>

    </div>
</div>