<div [formGroup]="form" [ngClass]="field.hidden? '': field.ElemClass" class="mb8">
    <div *ngIf="field.controlType == 'text'" [hidden]="field.hidden? field.hidden: false">
        <label class="flex-box">
            <span class="text-exp" >{{field.controlTitle}}</span>
            <input #text [type]="field.controlType" [required]="field.required" [formControlName]="field.controlName" [readonly]="readyOnly || field.readyOnly" [ngClass]="{'readyOnly':readyOnly || field.readyOnly}" (focus)="onFocus($event)" (blur)="onBlur($event)" [(ngModel)]="value" />
            <span class="fa fa-search search-btn" *ngIf="field.searchBtn"></span>
            <span class="fa fa-remove (alias) text-delete" *ngIf="targetCurrent && !(readyOnly || field.readyOnly)" (click)="emptyInput($event)"></span>
        </label>
    </div>
    <div *ngIf="field.controlType == 'select'">
        <div class="flex-box">
            <span class="text-exp">{{field.controlTitle}}</span>
            <div class="out-com">
                <p-dropdown [options]="field.Selectoptions" [formControlName]="field.controlName"></p-dropdown>
            </div>
        </div>
    </div>
    <div *ngIf="field.controlType == 'checkbox'">
        <div class="flex-box">
            <span class="text-exp">{{field.controlTitle}}</span>
            <p-checkbox binary="false" style="margin-top:2px" [formControlName]="field.controlName" [disabled]="readyOnly"></p-checkbox>
        </div>
    </div>
    <div *ngIf="field.controlType == 'date'">
        <div class="flex-box">
            <span class="text-exp">{{field.controlTitle}}</span>
            <p-calendar [showIcon]="true" [formControlName]="field.controlName" readonlyInput="null"></p-calendar>
        </div>

    </div>
</div>